remote:
  host: "139.179.130.100"
  user: "fatih"
  path: "/home/fatih/net_haftasi/wp-content/themes/net_haftasi/"
behaviour:
  uploadOnSave: true
  syncDownOnOpen: true
  forgetConsole: false
  autoHideConsole: true
  alwaysSyncAll: false
option:
  deleteFiles: false
  exclude: [
    ".sync-config.cson"
    ".git"
    "tmp"
    "vendor"
  ]
